<%# <%= render 'shared/header' %> 
<h3>ユーザ一覧</h3>
<h3>チャットする友達をお選びください</h3>


<% @users.each do |user| %>
  <%= link_to "ユーザ名:#{user.name}", user_path(user.id), class: 'user_link' %>
<% end %>

<%= link_to "トップに戻る", rooms_path, class: 'user_link' %>
