<div class = 'welcome'>
  <h1>Chat_Calendar_</h1>
  <span><%= link_to image_tag(asset_path('calendar-image.png'), alt:'calendar_chat', size:"375x517"), root_path %></span>
  <p>ようこそカレンダーチャットへ</p>
  <p>予定を共有しよう</p>
</div>