// Place all the styles related to the direct_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h6 {
  color: #c0c0c0;
}

.direct_message.id {
  color: white; 
  margin-top: 0;
}

p {
  color: white;
  margin-top: 0;
}

#direct_messages {
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  padding: 8px;
  max-height: 50vh;
  overflow: auto; 
}
.dm-form {
  height: 30%;
  overflow: hidden;
  padding: 8px 0;

  &_name {
    font-size: 14px;
    color: #1da1f2;
    margin-left: 16px;
  }
  &_content {
    // width: 200px;
    margin-left: 16px;
    padding: 2px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 10px;
    max-width: -webkit-calc(100% - 80px);
    max-width: calc(100% - 80px);
    display: inline-block;
  }
  &_time {
    margin-left: 16px;
    display: contents;
  }
}