// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: inherit;
  height: inherit;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  padding: 16px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #1da1f2;
  text-decoration: none;

  // &:visited {
  //   color: #fff;
  // }

  // &:hover {
  //   color: red;
  //   background-color: #000;
  // }
}

div {
  &.field, &.actions {
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

#calendar {
  background-color: #fff;
}

span {
  color: #333;
}

.today-todo {
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
}

table {
  // border: solid 2px  #1da1f2;
  thead {
    tr {
      padding: 16px;
      th {
        width: 25px;
        font-size: 14px;
        font-weight: bold;
        padding-left: 16px;
      }
    }
  }
  tbody {
    tr {
      background-color: white;
      color: #1da1f2;
      td {
        padding-left: 16px;
      }
    }
  }
}

.event-link {
  width: 95px;
  margin: 16px;
  padding: 4px;
  border: solid 1px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #1da1f2;
  background-color: white;
  text-decoration: none;
  text-align: center;
}

.fc-header-toolbar {
  .fc-center{
  font-size: 32px;
  padding: 16px;
  }
}

.action-btn {
  width: 90px;
  margin: 16px;
  padding: 4px;
  border: solid 1px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #1da1f2;
  background-color: white;
  text-decoration: none;
  text-align: center;
}

.input-form {
  width: 180px;
  margin: 0 16px;
  padding: 4px;
  border: solid 1px;
  border-radius: 4px;
  font-size: 14px;
  color: #000000;
  background-color: white;
  text-align: left;
}

#event_start_date_1i, #event_end_date_1i{
  margin-left: 16px;
}