header {
  height: 72px;
  display: flex;
  background-color: #1da1f2;
  .leftbar {
    width: 50%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    .theme {
      padding: 16px;
      color: white;
    }
  }
  .rigtbar {
    width: 50%;
    display: flex;
    .sign {
      display: flex;
      align-items: center;
      margin: 0 auto;
      &_btn {
        width: 90px;
        margin: 0 32px;
        padding: 4px;
        border: solid 1px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        color: #1da1f2;
        background-color: white;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}
