// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 32px;
  font-weight: bold;
  padding: 16px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  padding: 16px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
}

h6 {
  color: #c0c0c0;
}

table {
  tr {
    td {
      width: 30%;
      a {
        font-size: 14px;
        font-weight: bold;
        padding: 16px;
      }
    }
  }
}

.text-left {
  padding: 16px;
  a {
    font-size: 16px;
    font-weight: bold;
    color: #1da1f2;
  }
}

.field {
  width: 100%;
  label {
    font-size: 20px;
    font-weight: bold;
    padding: 16px 0 6px 16px;
  }
  .form {
    width: 250px;
    margin: 0 0 6px 16px;
    padding: 6px;
    border: solid 1px;
    border-radius: 4px;
    font-size: 16px;
  }
  .form_btn {
    width: 90px;
    margin: 16px 0 6px 16px;
    padding: 4px;
    border: solid 1px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #1da1f2;
    text-decoration: none;
    text-align: center;
  }
}