// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 32px;
  font-weight: bold;
  padding: 16px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  padding: 16px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
}

h6 {
  color: #c0c0c0;
}

table {
  tr {
    td {
      width: 30%;
      a {
        font-size: 14px;
        font-weight: bold;
        padding: 16px;
      }
    }
  }
}

.room_user {
  padding: 16px;
  a {
    font-size: 16px;
    font-weight: bold;
    color: #1da1f2;
  }
}

.field {
  width: 100%;
  label {
    font-size: 20px;
    font-weight: bold;
    padding: 16px 0 6px 16px;
  }
  .form {
    width: 250px;
    margin: 0 0 6px 16px;
    padding: 6px;
    border: solid 1px;
    border-radius: 4px;
    font-size: 16px;
  }
  .form_btn {
    width: 90px;
    margin: 16px 0 6px 16px;
    padding: 4px;
    border: solid 1px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #1da1f2;
    text-decoration: none;
    text-align: center;
  }
}

.dm-form {
  height: 30%;
  overflow: hidden;
  padding: 8px 0;

  &_name {
    font-size: 14px;
    color: #1da1f2;
    margin-left: 16px;
  }
  &_content {
    // width: 200px;
    margin-left: 16px;
    padding: 2px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 10px;
    max-width: -webkit-calc(100% - 80px);
    max-width: calc(100% - 80px);
    display: inline-block;
  }
  &_time {
    margin-left: 16px;
    display: contents;
  }
}

.chat-input-form {
  width: 300px;
  text-align: center;
  border-radius: 4px;
  margin: 16px 0 0 16px;
  padding: 6px;

}